<h1>Form checkbox</h1>

<ui-breadcrumbs [links]="[
    { path: '/demo', label: 'Demo' },
    { path: null, label: 'Form checkbox' }
  ]"></ui-breadcrumbs>

<section>
  <h2>Style</h2>
  <ui-form-checkbox shape="square">Square</ui-form-checkbox><br>
  <ui-form-checkbox shape="round">Rounded</ui-form-checkbox><br>
  <ui-form-checkbox shape="circle">Circle</ui-form-checkbox>
</section>

<section>
  <h2>Size</h2>
  <ui-form-checkbox size="small">Small</ui-form-checkbox><br>
  <ui-form-checkbox size="medium">Medium</ui-form-checkbox><br>
  <ui-form-checkbox size="large">Large</ui-form-checkbox>
</section>

<section>
  <h2>Color</h2>
  <ui-form-checkbox color="primary">Primary</ui-form-checkbox><br>
  <ui-form-checkbox color="secondary">Secondary</ui-form-checkbox><br>
</section>
