@import 'src/app/style';

// Basic style for all buttons
.button {
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  cursor: pointer;
  border-radius: pal-get('units.1/2');

  &:hover {
    transition: 0.2s all ease-in;
  }
  &:focus {
    outline: none;
  }
}

// Transformations and minor variations
.is-uppercase {
  text-transform: uppercase;
}

.has-margin {
  @include pal((
    space: 'm1/2',
  ));
}

.no-padding {
  padding: 0!important;
}

.has-icon {
  @include pal((
    flex: (
      inline: true,
      cross-axis: center,
    )
  ));

  ::ng-deep fa-icon {
    @include pal((
      space: 'mx1',
    ));
  }
}

.slot-left {
  @include pal((
    space: 'mr1/2',
  ));
}

.slot-right {
  @include pal((
    space: 'ml1/2',
  ));
}

.is-full-width {
  width: 100%;
}

.color-primary {
  @include pal((
    color: (background: 'primary', text: 'white'),
  ));
  &:hover, &:active, &:focus {
    @include pal((
      color: (background: 'primary-4/5'),
    ));
  }
}

.color-primary-outline {
  @include pal((
    border: 2px 'primary',
    color: (background: 'white', text: 'primary'),
  ));
  &:hover, &:active, &:focus {
    @include pal((
      color: (background: 'primary', text: 'white'),
    ));
  }
}

.color-secondary {
  @include pal((
    color: (background: 'secondary', text: 'white'),
  ));
  &:hover, &:active, &:focus {
    @include pal((
      color: (background: 'secondary-4/5'),
    ));
  }
}

.color-secondary-outline {
  @include pal((
    border: 2px 'secondary',
    color: (background: 'white', text: 'secondary'),
  ));
  &:hover, &:active, &:focus {
    @include pal((
      color: (background: 'secondary', text: 'white'),
    ));
  }
}

// Sizes
.size-small {
  @include pal(( space: 'py0,5' 'px1,5' ));
}

.size-medium {
  @include pal(( space: 'py1' 'px2' ));
}

.size-large {
  @include pal(( space: 'py1,5' 'px3' ));
}

.is-circle {
  $circle-size: pal-get('units.4');

  border-radius: 100%;
  padding: 0;
  width: $circle-size;
  height: $circle-size;
  min-width: $circle-size;
  max-width: $circle-size;
  min-height: $circle-size;
  max-height: $circle-size;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// States
.button[disabled],
.button[disabled]:hover,
.button[disabled]:active,
.button[disabled]:focus {
  @include pal((
    color: (
      background: 'gray-light',
      text: 'gray-mid-light',
      border: 'gray-light',
    ),
  ));
}
