@import 'src/app/style';

$sizes: (
  'small': 0.80rem,
  'medium': 1rem,
  'large': 1.5rem,
);

// Background => color
$colors: (
  'primary-dark': 'white',
  'primary-mid-dark': 'white',
  'primary': 'white',
  'primary-mid-light': 'white',
  'primary-light': 'black',
  'secondary-dark': 'white',
  'secondary-mid-dark': 'white',
  'secondary': 'white',
  'secondary-mid-light': 'white',
  'secondary-light': 'black',
  'grey-dark': 'white',
  'grey-mid-dark': 'white',
  'grey': 'white',
  'grey-mid-light': 'white',
  'grey-light': 'black',
);

:host {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

  @each $key, $value in $sizes {
    &.size-#{$key} {
      height: $value;
      padding: (0.66 * $value) $value;
      border-radius: (0.66 * 2 * $value + 0.9 * $value) / 2;
      font-size: 0.9 * $value;
      line-height: 0.9 * $value;
    }
  }

  @each $background, $text in $colors {
    &.color-#{$background} {
      @include pal((
        color: $background $text,
      ));
    }
  }
}

.dismiss {
  margin-left: 0.5rem;
  font-size: 1.1em;
  cursor: pointer;
}
