/* You can add global styles to this file, and also import other style files */
.form-control {
  display: block;
  margin: 1rem 0;
}

.form-control-error {
  color: red;
}

.ui-page-header {
  &__title {
    margin-bottom: 1rem;
  }

  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #ccc;
}
