@import 'src/app/style';

$sizes: (
  'no': 0,
  'small': 0.5rem,
  'medium': 1rem,
  'large': 1.5rem,
);

$twelfths: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

:host {
  display: grid;
  grid-template-rows: auto;

  @each $label, $size in $sizes {
    &.gaps-#{$label} {
      column-gap: $size;
      row-gap: $size;
    }
  }

  @each $twelfth in $twelfths {
    &.tiles-#{$twelfth} {
      grid-template-columns: repeat($twelfth, 1fr);
    }
  }

  // Medium
  @include pal-media-query('tablet', 'up') {
    @each $twelfth in $twelfths {
      &.md-tiles-#{$twelfth} {
        grid-template-columns: repeat($twelfth, 1fr);
      }
    }
  }

  // Large
  @include pal-media-query('desktop', 'up') {
    @each $twelfth in $twelfths {
      &.lg-tiles-#{$twelfth} {
        grid-template-columns: repeat($twelfth, 1fr);
      }
    }
  }
}
