$app-primary: #940f5a;
$app-secondary: #3c3d87;
$app-grey: #8d8b8e;

$_: pal-set-merge('colors', (

  // Primary
  'primary-dark': scale_color($app-primary, $lightness: -70%),
  'primary-mid-dark': scale_color($app-primary, $lightness: -50%),
  'primary': $app-primary,
  'primary-mid-light': scale_color($app-primary, $lightness: +50%),
  'primary-light': scale_color($app-primary, $lightness: +70%),

  // Secondary
  'secondary-dark': scale_color($app-secondary, $lightness: -70%),
  'secondary-mid-dark': scale_color($app-secondary, $lightness: -50%),
  'secondary': $app-secondary,
  'secondary-mid-light': scale_color($app-secondary, $lightness: +50%),
  'secondary-light': scale_color($app-secondary, $lightness: +70%),

  // Grey
  'grey-dark': scale_color($app-grey, $lightness: -85%),
  'grey-mid-dark': scale_color($app-grey, $lightness: -60%),
  'grey': $app-grey,
  'grey-mid-light': scale_color($app-grey, $lightness: +50%),
  'grey-light': scale_color($app-grey, $lightness: +80%),

));
