<ng-container *ngIf="course">
  <div class="ui-page-header">
    <h1 class="ui-page-header__title">{{ course.title }}</h1>

    <app-breadcrumbs>
      <app-breadcrumb url="/courses" isFirst>Courses</app-breadcrumb>
      <app-breadcrumb>View: {{ course.slug }}</app-breadcrumb>
    </app-breadcrumbs>
  </div>

  <p>{{ course.description }}</p>

  <h2>Lessons</h2>

  <ng-container *ngIf="!!lessons && lessons.length">
    <ul>
      <li *ngFor="let lesson of lessons">
        {{ lesson.title }} ({{ lesson.duration }})
      </li>
    </ul>

    <!-- Load more -->
    <button
      *ngIf="lessonsShowLoadMore()"
      type="button"
      (click)="onLoadMoreLessons()"
    >
      Load more lessons
    </button>

  </ng-container>
</ng-container>
