@import 'src/app/style';
@import 'src/app/shared/ui/common/scss/ghost';

$dark: rgba(0,0,0,.1);
$light: rgba(255,255,255,.25);

.rect {
  @include ui-ghost-element($dark, $light);
  display: inline-block;
}

.radius-small { border-radius: 0.5rem }
.radius-medium { border-radius: 1rem }
.radius-large { border-radius: 2rem }
