<h1>NgRx Books</h1>

<main>

  <section>
    <h2>Available Books ({{ (booksCount$ | async) || 0 }})</h2>
    <app-books-list
      [books]="(books$ | async) || []"
      (added)="onAddBookToCollection($event)"
    ></app-books-list>
  </section>

  <section>
    <h2>Your books collection ({{ (booksCollectionCount$ | async) || 0 }})</h2>
    <app-books-collection
      [books]="(booksCollection$ | async) || []"
      (removed)="onRemoveBookFromCollection($event)"
    ></app-books-collection>
  </section>

</main>
