<h1>NgRx Books</h1>

<button appButton (click)="onFetchBooks()">Fetch books</button>
<p *ngIf="booksLoading$ | async">Fetching books...</p>

<main>

  <ng-container *ngIf="(books$ | async) || [] as books">
    <section *ngIf="books.length">
      <h2>Available Books ({{ books.length }})</h2>
      <app-books-list
        [books]="books"
        (added)="onAddBookToCollection($event)"
      ></app-books-list>
    </section>
  </ng-container>

  <ng-container *ngIf="(booksCollection$ | async) || [] as booksCollection">
    <section *ngIf="booksCollection.length">
      <h2>Your books collection ({{ booksCollection.length }})</h2>
      <app-books-collection
        [books]="booksCollection"
        (removed)="onRemoveBookFromCollection($event)"
      ></app-books-collection>
    </section>
  </ng-container>

</main>
