@import 'src/app/style';
@import 'src/app/shared/ui/common/animations/flash';

$medium-size: 1.66rem;
$dark: rgba(0,0,0,.1);
$light: rgba(255,255,255,.99);

:host {
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: $dark;
  margin: 0.66rem;

  &.size-medium {
    min-width: $medium-size;
    width: $medium-size;
    max-width: $medium-size;
    min-height: $medium-size;
    height: $medium-size;
    max-height: $medium-size;
  }
}

// $grey: #eee;
// $grey-light: #fff;

// .ghost-rect {
//   background-color: $grey;
//   background-image: linear-gradient(90deg, $grey 0%, $grey-light 50%, $grey 100%);
//   background-size: 50%;
//   background-repeat: no-repeat;
//   animation: flash 1s linear infinite;
//   border-radius: 0.33rem;
// }
