@import 'src/app/style';

:host {
  display: flex;
  flex-wrap: wrap;

  // Wrap
  &.no-wrap {
    flex-wrap: nowrap;
  }

  // Gutters
  &.with-gutters {
    justify-content: space-between;

    ::ng-deep ui-col {
      padding: 0.5rem;
    }
  }

  // Justify
  &.start {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.evenly {
    justify-content: space-evenly;
  }

}
