@import 'src/app/style';

:host {
  display: flex;
  flex-wrap: wrap;

  // Wrap
  &.no-wrap {
    flex-wrap: nowrap;
  }

  // Gutters
  &.with-gutters {
    justify-content: space-between;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    ::ng-deep ui-col {
      padding: 0.5rem;
    }
  }

  // Justify
  &.justify-start { justify-content: flex-start }
  &.justify-center { justify-content: center }
  &.justify-end { justify-content: flex-end }
  &.justify-between { justify-content: space-between }
  &.justify-around { justify-content: space-around }
  &.justify-evenly { justify-content: space-evenly }
}
