:host {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

p {
  text-align: justify;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 10px 10px -10px #999;
}


nav {
  margin-top: 2rem;

  ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }
}
