<h1>Ghost</h1>

<ui-breadcrumbs [links]="[
  { path: '/demo', label: 'Demo' },
  { path: null, label: 'Ghost' }
]"></ui-breadcrumbs>

<h2>Dots</h2>

<section>
  <ui-ghost-dots></ui-ghost-dots>
  &nbsp;
  <code>default</code>
</section>

<section>
  <ui-ghost-dots size="small"></ui-ghost-dots>
  &nbsp;
  <code>size="small"</code>
</section>

<section>
  <ui-ghost-dots size="medium"></ui-ghost-dots>
  &nbsp;
  <code>size="medium"</code>
</section>

<section>
  <ui-ghost-dots size="large"></ui-ghost-dots>
  &nbsp;
  <code>size="large"</code>
</section>

<section>
  <ui-ghost-dots [float]="false"></ui-ghost-dots>
  &nbsp;
  <code>[float]="false"</code>
</section>
