<h1>Ghost</h1>

<ui-breadcrumbs [links]="[
  { path: '/demo', label: 'Demo' },
  { path: null, label: 'Ghost' }
]"></ui-breadcrumbs>

<h2>Rectangles</h2>

<section>
  <code>default</code>
  <br>
  <ui-ghost-rectangle></ui-ghost-rectangle>
</section>

<section>
  <code>
    width="33%"
    height="5rem"
    rounded="medium"
  </code>
  <br>
  <ui-ghost-rectangle
    width="33%"
    height="5rem"
    rounded="medium"
  ></ui-ghost-rectangle>
</section>

<h2>Dots</h2>

<section>
  <code>default</code>
  <br>
  <ui-ghost-dots></ui-ghost-dots>
</section>

<section>
  <code>size="small"</code>
  <br>
  <ui-ghost-dots size="small"></ui-ghost-dots>
</section>

<section>
  <code>size="medium"</code>
  <br>
  <ui-ghost-dots size="medium"></ui-ghost-dots>
</section>

<section>
  <code>size="large"</code>
  <br>
  <ui-ghost-dots size="large"></ui-ghost-dots>
</section>

<section>
  <code>[float]="false"</code>
  <br>
  <ui-ghost-dots [float]="false"></ui-ghost-dots>
</section>
