<h1>Store demo</h1>
<h2>Products</h2>

<form [formGroup]="productForm" (ngSubmit)="onCreateOrUpdateProduct()">
  <label for="product-name">
    <input type="text" formControlName="name" id="product-name">
  </label>

  <ng-container *ngIf="!!product; else createProductRef">
    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="submit" [disabled]="productForm.invalid">Edit</button>
  </ng-container>

  <ng-template #createProductRef>
    <button type="submit" [disabled]="productForm.invalid">Create</button>
  </ng-template>

</form>

<ul *ngIf="products$ | async as products">
  <li *ngFor="let product of products">
    #{{ product.id }}
    <strong>{{ product.name }}</strong>
    &nbsp;
    <button (click)="onSelectProduct(product)">Edit</button>
    <button (click)="onRemoveProduct(product.id)">Remove</button>
  </li>
</ul>
