<h1>Chip</h1>

<ui-breadcrumbs
  [links]="[
    { path: '/demo', label: 'Demo' },
    { path: null, label: 'Chip' }
  ]"
></ui-breadcrumbs>

<section>
  <h2>Size</h2>
  <ui-chip size="small" color="primary">Foo</ui-chip>
  <ui-chip size="medium" color="secondary">Bar</ui-chip>
  <ui-chip size="large" color="grey">Baz</ui-chip>
</section>

<section>
  <h2>Color</h2>
  <section>
    <h3>Primary</h3>
    <ui-chip color="primary-dark">Dark</ui-chip>
    <ui-chip color="primary-mid-dark">Mid dark</ui-chip>
    <ui-chip color="primary">Normal</ui-chip>
    <ui-chip color="primary-mid-light">Mid light</ui-chip>
    <ui-chip color="primary-light">Light</ui-chip>
  </section>

  <section>
    <h3>Secondary</h3>
    <ui-chip color="secondary-dark">Dark</ui-chip>
    <ui-chip color="secondary-mid-dark">Mid dark</ui-chip>
    <ui-chip color="secondary">Normal</ui-chip>
    <ui-chip color="secondary-mid-light">Mid light</ui-chip>
    <ui-chip color="secondary-light">Light</ui-chip>
  </section>

  <section>
    <h3>Grey</h3>
    <ui-chip color="grey-dark">Dark</ui-chip>
    <ui-chip color="grey-mid-dark">Mid dark</ui-chip>
    <ui-chip color="grey">Normal</ui-chip>
    <ui-chip color="grey-mid-light">Mid light</ui-chip>
    <ui-chip color="grey-light">Light</ui-chip>
  </section>
</section>

<section>
  <h2>Dismissable</h2>
  <ui-chip dismissable color="primary-mid-light" (dismissed)="onDismiss()">
    Delete
  </ui-chip>
</section>
