<ng-template #successAlertRef>
  <div class="alert alert-success" role="alert">
    Please check your email to activate your account
  </div>
</ng-template>

<div
  *ngIf="response !== 'success'; else successAlertRef"
  class="card col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3"
  data-testid="signup-form"
>
  <div class="card-header">
    <h1>Sign Up</h1>
  </div>

  <div class="card-body p-4">
    <form (submit)="onSubmit($event)">

      <!-- Username -->
      <label for="username" class="form-label">Username</label>
      <input
        id="username"
        type="text"
        (input)="onChangeUsername($event)"
        class="form-control"
      >

      <!-- Email -->
      <label for="email" class="form-label">Email</label>
      <input
        id="email"
        type="email"
        (input)="onChangeEmail($event)"
        class="form-control"
      >

      <!-- Password -->
      <label for="password" class="form-label">Password</label>
      <input
        id="password"
        type="password"
        (input)="onChangePassword($event)"
        class="form-control"
      >

      <!-- Confirm Password -->
      <label for="password-confirm" class="form-label">Confirm Password</label>
      <input
        id="password-confirm"
        type="password"
        (input)="onChangeConfirmPassword($event)"
        class="form-control"
      >

      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" [disabled]="loading || disabled" class="btn btn-primary">
          Sign Up

          <!-- Spinner -->
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
        </button>
      </div>
    </form>
  </div>
</div>
