<h1>Color palette</h1>

<ui-breadcrumbs
  [links]="[
    { path: '/demo', label: 'Demo' },
    { path: null, label: 'Color palette' }
  ]"
></ui-breadcrumbs>

<div class="boxes">
  <ng-container *ngFor="let color of ['primary', 'secondary', 'grey']">
    <div class="box">
      <h2>{{ color[0].toUpperCase() + color.substring(1) }}</h2>
      <div class="stripe {{ color }}-dark">{{ color }}-dark</div>
      <div class="stripe {{ color }}-mid-dark">{{ color }}-mid-dark</div>
      <div class="stripe {{ color }}">{{ color }}</div>
      <div class="stripe {{ color }}-mid-light">{{ color }}-mid-light</div>
      <div class="stripe {{ color }}-light">{{ color }}-light</div>
    </div>
  </ng-container>
</div>
