<h1>Control Value Accessor</h1>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()">

  <div class="section">
    <app-form-rating
      formControlName="rating"
    ></app-form-rating>
  </div>

  <div class="section">
    <app-form-input
      formControlName="name"
      placeholder="Name..."
    ></app-form-input>
  </div>

  <div class="section">
    <button type="submit">Submit</button>
  </div>

</form>

<div class="section">

  <button (click)="onFormChangeValue()">
    Change form value
  </button>

  &nbsp;

  <button (click)="onFormReset()">
    Reset form
  </button>
</div>

<pre>{{ form.value | json }}</pre>
