@import 'src/app/style';
@import 'src/app/shared/ui/scss/mixins/circle';
@import 'src/app/shared/ui/scss/ghost';

$dark: rgba(0,0,0,.1);
$light: rgba(255,255,255,.25);
$flash-anim: ui-ghost-flash-animation 0.5s linear infinite;
$float-anim: ui-ghost-float-animation 0.5s linear infinite;
$float-delayed-anim: ui-ghost-float-animation 0.5s 0.25s linear infinite;

@keyframes ui-ghost-float-animation {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10%); }
  100% { transform: translateY(0); }
}

.dots {
  display: inline-flex;
  align-items: center;

  &.size-small .dot { @include ui-circle(1rem) }
  &.size-medium .dot { @include ui-circle(1.66rem) }
  &.size-large .dot { @include ui-circle(2.5rem) }
}

.dots.float-animation {
  .left { animation: $flash-anim, $float-anim }
  .center { animation: $flash-anim, $float-delayed-anim }
  .right { animation: $flash-anim, $float-anim }
}

.dot {
  @include ui-ghost-element($dark, $light);
  border-radius: 50%;

  &.left { margin-right: 0.66rem }
  &.right { margin-left: 0.66rem }
}
