<h1>Alert</h1>

<ui-breadcrumbs
  [links]="[
    { path: '/demo', label: 'Demo' },
    { path: null, label: 'Alert' }
  ]"
></ui-breadcrumbs>

<!-- Success -->
<ui-button (click)="setSuccessAlert(true)" color="secondary">
  Show success alert
</ui-button>

<ui-alert
  *ngIf="showSuccessAlert"
  [message]="'Something good just happened.'"
  [type]="'success'"
  (dismissed)="setSuccessAlert(false)"
></ui-alert>

<!-- Error -->
<ui-button (click)="setErrorAlert(true)" color="primary">
  Show error alert
</ui-button>

<ui-alert
  *ngIf="showErrorAlert"
  [message]="'Something unexpected just happened.'"
  [type]="'error'"
  (dismissed)="setErrorAlert(false)"
></ui-alert>
