<h1>Form radio</h1>

<ui-breadcrumbs [links]="[
  { path: '/demo', label: 'Demo' },
  { path: null, label: 'Form radio' }
]"></ui-breadcrumbs>

<section>
  <h2>Shape</h2>

  <h3>Square</h3>
  <ui-form-radio
    [options]="[{ value: 'square', label: 'Square' }]"
    name="shape-square"
    shape="square"
  ></ui-form-radio>

  <h3>Round</h3>
  <ui-form-radio
    [options]="[{ value: 'round', label: 'Round' }]"
    name="shape-round"
    shape="round">
  </ui-form-radio>

  <h3>Circle</h3>
  <ui-form-radio
    [options]="[{ value: 'circle', label: 'Circle' }]"
    name="shape-circle"
    shape="circle"
  ></ui-form-radio>
</section>

<section>
  <h2>Size</h2>

  <h3>Small</h3>
  <ui-form-radio
    [options]="[{ value: 'small', label: 'Small' }]"
    name="size-small"
    size="small"
  ></ui-form-radio>

  <h3>Medium</h3>
  <ui-form-radio
    [options]="[{ value: 'medium', label: 'Medium' }]"
    name="size-medium"
    size="medium"
  ></ui-form-radio>

  <h3>Large</h3>
  <ui-form-radio
    [options]="[{ value: 'large', label: 'Large' }]"
    name="size-large"
    size="large"
  ></ui-form-radio>
</section>

<section>
  <h2>Color</h2>

  <h3>Primary</h3>
  <ui-form-radio
    [options]="[{ value: 'primary', label: 'Primary' }]"
    name="color-primary"
    color="primary"
  ></ui-form-radio>

  <h3>Secondary</h3>
  <ui-form-radio
    [options]="[{ value: 'secondary', label: 'Secondary' }]"
    name="color-secondary"
    color="secondary"
  ></ui-form-radio>
</section>

<section>
  <h2>In form</h2>
  <p>How many hours do you sleep per night on average?</p>
  <form [formGroup]="radioForm" (ngSubmit)="onSubmit()">
    <ui-form-radio
      [options]="radioFormOptions"
      formControlName="sleep"
      name="sleep"
    ></ui-form-radio>
    <ui-button type="submit">Submit</ui-button>
  </form>
</section>
