<h1>Form radio</h1>

<ui-breadcrumbs [links]="[
  { path: '/demo', label: 'Demo' },
  { path: null, label: 'Form radio' }
]"></ui-breadcrumbs>

<section>
  <h2>Style</h2>
  <ui-form-radio shape="square" (changed)="onInputChange($event)">Square</ui-form-radio>
  <ui-form-radio shape="round">Rounded</ui-form-radio>
  <ui-form-radio shape="circle">Circle</ui-form-radio>
</section>

<section>
  <h2>Size</h2>
  <ui-form-radio size="small">Small</ui-form-radio>
  <ui-form-radio size="medium">Medium</ui-form-radio>
  <ui-form-radio size="large">Large</ui-form-radio>
</section>

<section>
  <h2>Color</h2>
  <ui-form-radio color="primary">Primary</ui-form-radio>
  <ui-form-radio color="secondary">Secondary</ui-form-radio>
</section>

<section>
  <h2>In form</h2>
  <p>How many hours do you sleep per night on average?</p>
  <form [formGroup]="radioForm" (ngSubmit)="onSubmit()">
    <ui-form-radio
      *ngFor="let option of radioFormOptions"
      formControlName="sleep"
      name="sleep"
      [id]="option.id"
      [value]="option.value"
    >
      {{ option.label }}
    </ui-form-radio>

    <ui-button type="submit">Submit</ui-button>
  </form>
</section>
