rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth.uid != null
    }

    function isWhitelistedUser() {
      return isAuthenticated() &&
        exists(/databases/$(database)/documents/allowed-users/$(request.auth.uid));

      // Alternative
      // return isAuthenticated() &&
      //   get(/databases/$(database)/documents/allowed-users/$(request.auth.uid)).data.allowed;
    }

    function isNonEmptyString(fieldName) {
      return request.resource.data[fieldName] is string &&
        request.resource.data[fieldName].size() > 0
    }

    function isValidCourse() {
      return isNonEmptyString('title') &&
        isNonEmptyString('slug')
    }

    match /courses/{courseId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && isValidCourse();

      match /lessons/{lessonId} {
        allow read: if isWhitelistedUser();
      }
    }
  }
}
