@import 'src/app/style';

.breadcrumbs {
  @include pal((
    space: pl0,
    color: (
      background: 'secondary-mid-dark',
      text: 'secondary-mid-light',
    ),
    css: (
      list-style: none,
      display: flex,
      border-radius: pal-get('units.1/2'),
    )
  ));
}

.segment {
  @include pal((
    space: py1 px2,
  ));

  &.separator {
    @include pal((
      space: px0,
    ));
  }

  &.link {
    @include pal((
      color: (text: 'primary-mid-light'),
      css: (
        font-weight: 600,
      )
    ));
  }
}
