@import 'src/app/style';

.pagination {
  @include pal((
    flex: (main-axis: 'center'),
    space: my2 mx0,
  ));

  ::ng-deep button {
    height: 100%;
  }

  &.size-small {
    ::ng-deep button {
      font-size: 1.25rem;
      padding: 0.1rem 0.75rem;
    }
  }

  &.size-medium {
    ::ng-deep button {
      font-size: 1.5rem;
      padding: 0.25rem 1rem;
    }
  }

  &.size-large {
    ::ng-deep button {
      font-size: 1.75rem;
      padding: 0.5rem 1.5rem;
    }
  }
}
