<div class="pagination">

  <!-- Previous -->
  <ui-button
    class="link back"
    [color]="color+'-outline'"
    type="button"
    size="small"
    [isDisabled]="!previous"
    (click)="onClick(previous)"
  >
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </ui-button>

  <!-- Direct page links -->
  <ng-container *ngIf="!simple">
    <ui-button
      *ngFor="let page of pages"
      class="link"
      type="button"
      size="small"
      [color]="page === current ? color : color+'-outline'"
      [isDisabled]="!page"
      (click)="onClick(page)"
    >
      {{ page ? page : '...' }}
    </ui-button>
  </ng-container>

  <!-- Next -->
  <ui-button
    class="link next"
    [color]="color+'-outline'"
    type="button"
    size="small"
    [isDisabled]="!next"
    (click)="onClick(next)"
  >
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </ui-button>

</div>
