@import 'src/app/style';

.pagination {
  @include pal((
    flex: (main-axis: 'center'),
    space: my2 mx0,
  ));

  ::ng-deep button {
    height: 100%;
  }

  &.size-medium {
    ::ng-deep button {
      font-size: 1.5rem;
      height: 3.75rem * 0.66;
    }
  }

  &.size-large {
    ::ng-deep button {
      font-size: 1.75rem;
      height: 4.5rem * 0.66;
    }
  }
}
