<section>
  <mat-card>

    <mat-card-title>
      <h1>{{ exercise.name }}</h1>
    </mat-card-title>

    <mat-card-content>

      <mat-progress-spinner
        mode="determinate"
        [value]="progress"
      ></mat-progress-spinner>
      <h2>{{ progress }}%</h2>

      <p>{{ elapsedSeconds }} / {{ exercise.duration }} seconds</p>
      <p>{{ burnedCalories }} / {{ exercise.calories }} Kcal</p>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onStop()">
        Stop
      </button>
    </mat-card-actions>

  </mat-card>
</section>
