$background-fallback: rgba(0,0,0,0.15);

$background-gradient: linear-gradient(
  90deg,
  transparent 0%,
  rgba(255,255,255,0.2) 50%,
  transparent 100%
);

:host {
  display: inline-block;
  background-color: $background-fallback;
  background-image: $background-gradient;
  background-size: 50%;
  background-repeat: no-repeat;
  animation: app-skeleton-loading .5s infinite linear;
  margin: .5rem;

  &.--circle {
    border-radius: 100% !important;
  }

  &.--rounded {
    border-radius: 1rem;
  }
}

@keyframes app-skeleton-loading {
  0% { background-position: -50%; }
  100% { background-position: 150%; }
}
