<h1>Tiles</h1>

<ui-breadcrumbs [links]="[
  { path: '/demo', label: 'Demo' },
  { path: null, label: 'Tiles' }
]"></ui-breadcrumbs>

<ui-tiles tiles="2" tilesMd="4" tilesLg="8">
  <ui-tile *ngFor="let item of range(1, 20)">#{{ item }}</ui-tile>
</ui-tiles>

<ui-tiles tiles="2" tilesMd="4" tilesLg="8" withGaps="small" withBorderGaps="small">
  <ui-tile *ngFor="let item of range(1, 20)">#{{ item }}</ui-tile>
</ui-tiles>

<ui-tiles tiles="2" tilesMd="4" tilesLg="8" withGaps="medium" withBorderGaps="medium">
  <ui-tile *ngFor="let item of range(1, 20)">#{{ item }}</ui-tile>
</ui-tiles>

<ui-tiles tiles="2" tilesMd="4" tilesLg="8" withGaps="large" withBorderGaps="large">
  <ui-tile *ngFor="let item of range(1, 20)">#{{ item }}</ui-tile>
</ui-tiles>
