@import 'src/app/style';

.boxes {
  @include pal((
    flex: (
      dir: column,
    )
  ));
}

.box {
  @include pal((
    size: w-full,
    space: p2,
  ));
}

.primary-1 { @include pal-color('primary-1/5' 'white') }
.primary-2 { @include pal-color('primary-2/5' 'white') }
.primary { @include pal-color('primary') }
.primary-4 { @include pal-color('primary-4/5') }
.primary-5 { @include pal-color('primary-5/5') }

.secondary-1 { @include pal-color('secondary-1/5' 'white') }
.secondary-2 { @include pal-color('secondary-2/5' 'white') }
.secondary { @include pal-color('secondary') }
.secondary-4 { @include pal-color('secondary-4/5') }
.secondary-5 { @include pal-color('secondary-5/5') }
