<h2>Colors</h2>

<h3>Primary</h3>
<div class="boxes">
  <div class="box primary-1">primary-1/5</div>
  <div class="box primary-2">primary-2/5</div>
  <div class="box primary">primary</div>
  <div class="box primary-4">primary-4/5</div>
  <div class="box primary-5">primary-5/5</div>
</div>

<h3>Secondary</h3>
<div class="boxes">
  <div class="box secondary-1">secondary-1/5</div>
  <div class="box secondary-2">secondary-2/5</div>
  <div class="box secondary">secondary</div>
  <div class="box secondary-4">secondary-4/5</div>
  <div class="box secondary-5">secondary-5/5</div>
</div>
