<h1>Posts</h1>

<ui-breadcrumbs [links]="[
  { path: '/', label: 'App' },
  { paht: null, label: 'Posts' }
]"></ui-breadcrumbs>

<ng-container *ngIf="!(ui.loading | async); else loadingRef">
  <ui-row withGutters>
    <ui-col
      *ngFor="let post of posts; let index = index"
      size="12"
      sizeMd="6"
      sizeLg="4"
    >
      <ui-card [fullHeight]="true">
        <h2 slot="title">{{ post.title[0].toUpperCase() + post.title.slice(1, 20) + '...' }}</h2>
        <div slot="body">
          {{ post.body.slice(0, 20) + '...' }}
        </div>
        <div slot="footer">
          <!-- TODO: Make it a button-like link -->
          <ui-button size="small" (click)="onShowPost(index)">Show</ui-button>
        </div>
      </ui-card>
    </ui-col>
  </ui-row>
</ng-container>

<ng-template #loadingRef>
  <ui-row withGutters>
    <ui-col
      *ngFor="let item of [1, 2, 3]"
      size="12"
      sizeMd="6"
      sizeLg="4"
    >
      <ui-card [fullHeight]="true">
        <h2 slot="title">
          <ui-ghost-rectangle width="80%"></ui-ghost-rectangle>
        </h2>
        <div slot="body">
          <ui-ghost-rectangle></ui-ghost-rectangle>
          <ui-ghost-rectangle width="66%"></ui-ghost-rectangle>
        </div>
        <div slot="footer">
          <ui-ghost-rectangle width="20%" height="2rem"></ui-ghost-rectangle>
        </div>
      </ui-card>
    </ui-col>
  </ui-row>
</ng-template>
