@import 'src/app/style';

.back {
  cursor: pointer;
}

// Bringhurst's rule
.readable {
  max-width: 45rem;
  margin: 0 auto;
}

.author {
  margin-bottom: 1rem;
  font-style: italic;
}

.body {
  font-size: 1.1rem,
}
