.container {
  @include pal((
    'any': ( space: px2, size: w-full ),
    'tablet': ( space: px4 ),
    'desktop': ( space: px8 ),
  ));

  @include pal-media-query(wider, up) {
    margin: 0 auto;
    max-width: pal-get('units.container');
  }

  .full-width {
    @include pal((
      '*': ( space: mxneg2 ),
      'tablet': ( space: mxneg4 ),
      'desktop': ( space: mxneg8 ),
    ));

    &.padded {
      @include pal((
        '*': ( space: px2 ),
        'tablet': ( space: px4 ),
        'desktop': ( space: px8 ),
      ));
    }
  }
}
