a {
  text-decoration: underline;
  color: pal-color-get('secondary-2/5');
  transition: 0.2s color ease-in;

  &:hover {
    text-decoration: none;
    color: pal-color-get('primary');
  }

  &:visited {
    color: pal-color-get('secondary-2/5');
  }
}
