html {
  font-size: pal-get('typography.base');
  font-family: pal-get('typography.font-family');
  line-height: pal-get('typography.line-height');
}

$app-headings: (
  'h1': pal-get('typography.h1'),
  'h2': pal-get('typography.h2'),
  'h3': pal-get('typography.h3'),
  'h4': pal-get('typography.h4'),
  'h5': pal-get('typography.h5'),
  'h6': pal-get('typography.h6'),
);

@each $selector, $size in $app-headings {
  #{$selector} {
    font-size: $size;
    line-height: $size * 1.05;
    margin-top: $size * 0.75;
    margin-bottom: $size * 0.5;
    color: pal-get('colors.secondary-mid-dark');
  }
}
