<div class="row">
  <div class="col">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-7 form-group">

          <!-- Name -->
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          >
        </div>

        <!-- Amount -->
        <div class="col-5 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">

          <!-- Clear -->
          <button class="btn btn-light" type="button" (click)="onClear()">
            Clear
          </button>

          &nbsp;

          <!-- Delete -->
          <button
            *ngIf="editMode"
            type="button"
            class="btn btn-danger"
            (click)="onDelete()"
          >
            Delete
          </button>

          &nbsp;

          <!-- Submit -->
          <button
            type="submit"
            [disabled]="form.invalid"
            class="btn btn-success"
          >
            {{ editMode ? 'Update' : 'Add' }}
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
