<div class="row">
  <div class="col">
    <form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
      <pre>{{ itemForm.errors | json }}</pre>
      <div class="row">
        <div class="col-sm-7 form-group">

          <!-- Name -->
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            [value]="currentIngredient?.name"
          >
        </div>

        <!-- Amount -->
        <div class="col-sm-5 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            [value]="currentIngredient?.amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">

          <!-- Clear -->
          <button class="btn btn-light" type="button" (click)="onClear()">
            Clear
          </button>

          &nbsp;

          <!-- Delete -->
          <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="onDelete()">
            Delete
          </button>

          &nbsp;

          <!-- Submit -->
          <button class="btn btn-success" type="submit" [disabled]="itemForm.invalid">
            {{ editMode ? 'Update' : 'Add' }}
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
