<h1>Control Value Accessor</h1>

<form [formGroup]="form" (ngSubmit)="onFormSubmit()">

  <div class="section">
    <app-form-rating
      formControlName="rating"
    ></app-form-rating>
  </div>

  <div class="section">
    <app-form-dropdown
      formControlName="continent"
      [defaultOption]="{ value: '', label: 'Choose a continent...' }"
      [options]="[
        { value: 'africa', label: 'Africa' },
        { value: 'america', label: 'America' },
        { value: 'asia', label: 'Asia' },
        { value: 'europe', label: 'Europa' },
        { value: 'oceania', label: 'Oceania' }
      ]"
    ></app-form-dropdown>
  </div>

  <div class="section">
    <input formControlName="name" placeholder="Name...">
  </div>

  <div class="section">
    <textarea formControlName="description" placeholder="Description..." rows="5" cols="23"></textarea>
  </div>

  <div class="section">
    <button type="submit">Submit</button>
  </div>

</form>

<div class="section">

  <button (click)="onFormChangeValue()">
    Change form value
  </button>

  &nbsp;

  <button (click)="onFormReset()">
    Reset form
  </button>
</div>

<pre>{{ form.value | json }}</pre>
