<div class="row">

  <!-- List -->
  <div class="col-xs-12 col-sm-5">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
        (
          <span
            [class.text-success]="server.status === 'online'"
            [class.text-danger]="server.status === 'offline'"
          >
            {{ server.status }}
          </span>
        )
        <span class="pull-right">
          <a [routerLink]="['/servers', server.id]">Show</a>
          &nbsp;
          <a
            [routerLink]="['/servers', server.id, 'edit']"
            [queryParams]="{ allowEdit: server.id === 2 ? '1' : null }"
          >Edit</a>
        </span>
      </li>
    </ul>

    <!-- Programmatic navigation tests -->
    <p>
      <button class="btn btn-link" (click)="onProgrammaticReload()">
        Programmatic: Reload
      </button>
    </p>
    <p>
      <button class="btn btn-link" (click)="onProgrammaticChange(2)">
        Programmatic: Edit server 2
      </button>
    </p>
  </div>

  <!-- Outlet -->
  <div class="col-xs-12 col-sm-7">
    <router-outlet></router-outlet>
  </div>

</div>
