<ng-container *ngIf="server; else default">

  <a routerLink="/servers">&times; Close</a>
  <hr>

  <!-- Data -->
  <p><em>Name</em>: {{ server.name }}</p>
  <p><em>Status</em>: {{ server.status }}</p>

  <!-- Actions -->
  <a [routerLink]="['/servers', server.id, 'edit']">Edit (via link)</a>
  <br>
  <a
    (click)="onEditAbsolutePath()"
    style="cursor: pointer;"
  >Edit (via click handler, absolute path)</a>
  <br>
  <a
    (click)="onEditRelativePath()"
    style="cursor: pointer;"
  >Edit (via click handler, relative path)</a>

</ng-container>
<ng-template #default>
  <a routerLink="/servers">&larr; Servers</a>
  <hr>
  No server
</ng-template>
