<h1>Users</h1>

<ui-breadcrumbs [links]="[
  { path: '/', label: 'App' },
  { paht: null, label: 'Users' }
]"></ui-breadcrumbs>

<ng-container *ngIf="!(ui.loading | async); else loadingRef">
  <ui-row class="users" withGutters>
    <ui-col
      *ngFor="let user of users; let index = index"
      size="12"
      sizeMd="6"
      sizeLg="4"
    >
      <ui-card  class="user">

        <h2 slot="title">{{ user.name.replace(' ', '&nbsp;') }}</h2>
        <h3 slot="subtitle">{{ user.email }}</h3>
        <div slot="body">
          City: {{ user.address.city }}
        </div>
        <div slot="footer">
          <ui-button size="small" (click)="onShowUser(index)">Show</ui-button>
        </div>

      </ui-card>
    </ui-col>
  </ui-row>
</ng-container>

<ng-template #loadingRef>
  Loading...
</ng-template>
