@import 'src/app/style';

@function getShape($size: 1rem) {
  $w: $size * 2;
  $h: $size;
  $gap: $size * 0.15;
  $toggle: $size - $gap * 2;

  @return (
    'w': $w,
    'h': $h,
    'gap': $gap,
    'toggle': $toggle,
  );
}

$time-delay: 0.15s;
$color-background: #ccc;

$sizes: (
  'small': 1rem,
  'medium': 1.2rem,
  'large': 1.66rem,
);

$colors: (
  'primary': (
    'inactive': #ccc,
    'active': pal-get('colors.primary'),
    'toggle': white,
  ),
  'primary-mid-light': (
    'inactive': #ccc,
    'active': pal-get('colors.primary-mid-light'),
    'toggle': white,
  ),
  'secondary': (
    'inactive': #ccc,
    'active': pal-get('colors.secondary'),
    'toggle': white,
  ),
  'secondary-mid-light': (
    'inactive': #ccc,
    'active': pal-get('colors.secondary-mid-light'),
    'toggle': white,
  ),
);

// The switch box
label {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.text {
  position: relative;
}

// Hide default checkbox
input {
  opacity: 0;
  width: 0;
  height: 0;
}

// Inactive switch: the slider
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: $time-delay;
}

// Inactive switch: the slider's toggle
.slider::before {
  position: absolute;
  content: '';
  transition: $time-delay;
}

.shape-circle .slider::before {
  border-radius: 50%;
}

// Size -----------------------------------------------------------------------
@each $label, $size in $sizes {

  $shape: getShape($size);
  $w: map-get($shape, 'w');
  $h: map-get($shape, 'h');
  $gap: map-get($shape, 'gap');
  $toggle: map-get($shape, 'toggle');

  .size-#{$label} {
    & {
      // width: $w;
      height: $h;
    }

    .slider {
      width: $w;
    }

    // Inactive switch: the slider's toggle
    .slider::before {
      height: $h - $gap * 2;
      width: $h - $gap * 2;
      left: $gap;
      bottom: $gap;
    }

    // Active switch: the slider's toggle
    input:checked + .slider::before {
      transform: translateX($w - $gap * 2 - $toggle);
    }

    .text {
      left: $w;
    }

    // Rounded variant
    &.shape-round .slider {
      border-radius: $h * 0.2;
    }
    &.shape-round .slider::before {
      border-radius: $h * 0.2;
    }

    // Circle variant
    &.shape-circle .slider {
      border-radius: $h;
    }
  }
}

// Color ----------------------------------------------------------------------
@each $label, $color in $colors {

  $inactive: map-get($color, 'inactive');
  $active: map-get($color, 'active');
  $toggle: map-get($color, 'toggle');

  .color-#{$label} {

    .slider::before {
      background-color: $toggle;
    }

    .slider {
      background-color: $inactive;
    }

    input:checked + .slider {
      background-color: $active;
    }
  }
}
