@import 'src/app/style';

@function getShape($size: 1rem) {
  $w: $size * 2;
  $h: $size;
  $gap: $size * 0.15;
  $toggle: $size - $gap * 2;

  @return (
    'w': $w,
    'h': $h,
    'gap': $gap,
    'toggle': $toggle,
  );
}

$time-delay: 0.15s;

$sizes: (
  'small': 1rem,
  'medium': 1.2rem,
  'large': 1.66rem,
);

$color-inactive: pal-get('colors.grey');
$color-toggle: white;
$colors: (
  'primary': (
    'inactive': $color-inactive,
    'active': pal-get('colors.primary'),
    'toggle': $color-toggle,
  ),
  'secondary': (
    'inactive': $color-inactive,
    'active': pal-get('colors.secondary'),
    'toggle': $color-toggle,
  ),
);

// The switch box
label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;

  &.inline {
    display: inline-flex;
  }
}

.text {
  position: relative;
  white-space: nowrap;
}

// Hide default checkbox
input {
  opacity: 0;
  width: 0;
  height: 0;
}

// Inactive switch: the slider
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: $time-delay;
}

// Inactive switch: the slider's toggle
.slider::before {
  content: '';
  position: absolute;
  transition: $time-delay;
}

.shape-circle .slider::before {
  border-radius: 50%;
}

// Size -----------------------------------------------------------------------
@each $label, $size in $sizes {

  $shape: getShape($size);
  $w: map-get($shape, 'w');
  $h: map-get($shape, 'h');
  $gap: map-get($shape, 'gap');
  $toggle: map-get($shape, 'toggle');

  .size-#{$label} {
    height: $h;
    margin: ($h * 0.5) 0;

    .slider {
      width: $w;

      // Inactive switch: the slider's toggle
      &::before {
        height: $h - $gap * 2;
        width: $h - $gap * 2;
        left: $gap;
        bottom: $gap;
      }
    }

    // Active switch: the slider's toggle
    input:checked + .slider::before {
      transform: translateX($w - $gap * 2 - $toggle);
    }

    .text {
      left: $w;
    }

    // Rounded variant
    &.shape-round .slider {
      border-radius: $h * 0.2;
    }
    &.shape-round .slider::before {
      border-radius: $h * 0.2;
    }

    // Circle variant
    &.shape-circle .slider {
      border-radius: $h;
    }
  }
}

// Color ----------------------------------------------------------------------
@each $label, $color in $colors {

  $inactive: map-get($color, 'inactive');
  $active: map-get($color, 'active');
  $toggle: map-get($color, 'toggle');

  .color-#{$label} {

    .slider {
      background-color: $inactive;
      &::before {
        background-color: $toggle;
      }
    }

    input:checked + .slider {
      background-color: $active;
    }

    &:hover {
      .slider {
        background-color: scale_color($inactive, $lightness: +20%);
      }
      input:checked +.slider {
        background-color: scale_color($active, $lightness: +20%)
      }
    }
  }
}
