<h1 class="mb-4">Matches</h1>

<div *ngIf="isAdmin()" class="card mb-4 bg-light">
  <div class="card-body">
    <h2>Create a new match</h2>
    <div class="container-fluid gx-0">
      <form
        class="row g-3 align-items-end"
        *ngIf="matchForm"
        [formGroup]="matchForm"
        (ngSubmit)="onCreateMatch()"
      >

        <!-- Home team -->
        <div class="col-3">
          <label for="matchhome">Home Team</label>
          <select
            id="matchhome"
            formControlName="home"
            class="form-control"
          >
            <option value="">Select team...</option>
            <option *ngFor="let team of homeTeamOptions()" [value]="team.id">
              {{ team.name }}
            </option>
          </select>
        </div>

        <!-- Away team -->
        <div class="col-3">
          <label for="matchaway">Away Team</label>
          <select
            id="matchaway"
            formControlName="away"
            class="form-control"
          >
            <option value="">Select team...</option>
            <option *ngFor="let team of awayTeamOptions()" [value]="team.id">
              {{ team.name }}
            </option>
          </select>
        </div>

        <!-- Winner team -->
        <div class="col-3">
          <label for="matchwinner">Winner Team</label>
          <select
            id="matchwinner"
            formControlName="winner"
            class="form-control"
          >
            <option value="">Select team...</option>
            <option *ngFor="let team of winnerTeamOptions()" [value]="team.id">
              {{ team.name }}
            </option>
          </select>
        </div>

        <!-- Submit -->
        <div class="col-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="matchForm.invalid"
          >
            Create match
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-container *ngIf="loaded(); else loadingRef">
  <div class="accordion" id="teamMatchesAccordion">
    <div *ngFor="let teamMatches of matchesGroupedByTeam()" class="accordion-item">
      <h2 class="accordion-header" [id]="teamMatches.team.id + '-header'">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#' + teamMatches.team.id + '-body'"
          aria-expanded="true"
          [attr.aria-controls]="teamMatches.team.id + '-body'"
        >
          {{ teamMatches.team.name }}
        </button>
      </h2>

      <div
        [id]="teamMatches.team.id + '-body'"
        class="accordion-collapse collapse show"
        [attr.aria-labelledby]="teamMatches.team.id + '-header'"
        data-bs-parent="#teamMatchesAccordion"
      >
        <div class="accordion-body">
          Matches: {{ teamMatches.matches.length }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Template: loading -->
<ng-template #loadingRef>
  Loading...
</ng-template>
