<nav class="the-navbar">
  <ul>
    <li><strong>Firebase Courses</strong></li>
  </ul>
  <ng-container *ngTemplateOutlet="isSignedIn() ? signedInRef : signedOutRef" />
</nav>

<!-- Template: Signed in user -->
<ng-template #signedInRef>
  <ul>
    <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
    <li><a routerLink="/playground" routerLinkActive="active">Playground</a></li>
    <li><a routerLink="/users/invite" routerLinkActive="active">Invite</a></li>
    <li><a role="button" href="#" (click)="onSignOut($event)">Sign Out</a></li>
  </ul>
</ng-template>

<!-- Template: Signed out user -->
<ng-template #signedOutRef>
  <ul>
    <li><a routerLink="/users/sign-in" routerLinkActive="active">Sign In</a></li>
  </ul>
</ng-template>
