form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

mat-form-field {
  min-width: 18rem;
  max-width: 22rem;
}
